#banner {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 0 2em;
	padding-top: 8em;
	padding-bottom: 4em;
	width: 100%;
	display: flex;
	align-items: center;
	background-position: 100% 45%;
	background-repeat: no-repeat;
	background-size: 80%;
}
@media (max-width: 800px) {
	#banner {
		background-size: 85%;
		background-position: bottom right;
	}
}
@media (max-width: 500px) {
	#banner {
		align-items: flex-start;
		background-size: 100%;
		background-position: 100% 90%;
	}
}
#banner .banner-container .name {
	font-size: 4em;
	font-family: sans-serif;
	line-height: 1.1;
	color: #7333f9;
	text-transform: uppercase;
	letter-spacing: -0.05em;
	margin-bottom: 0.3em;
	background: -webkit-linear-gradient(45deg, #7333f9, #ff33f9);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
@media (max-width: 500px) {
	#banner .banner-container .name {
		line-height: 1em;
		margin-bottom: 0.5em;
	}
}
#banner .banner-container .specialist {
	font-size: 1.6em;
	font-family: sans-serif;
	color: #fefefe;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}
@media (max-width: 500px) {
	#banner .banner-container .specialist {
		line-height: 1.1em;
		margin-bottom: 0.5em;
	}
}
#banner .banner-container .line {
	color: #cbcbcb;
	line-height: 1.3;
	margin-bottom: 2em;
}
#banner .banner-container .social-media {
	font-size: 1.4em;
}
#banner .banner-container .social-media svg {
	color: #7333f9;
	transition: 0.1s color ease-out;
}
#banner .banner-container .social-media svg:hover {
	color: #ff33f9;
}

