#contact {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 0 2em;
	padding-top: 2em;
	padding-bottom: 2em;
}
#contact .email {
	background-color: #7333f9;
	transition: 0.1s background-color ease-out;
	display: inline-block;
	background-color: #7333f9;
	color: #fefefe;
	border-radius: 5px;
	padding: 5px 30px 10px 30px;
	font-size: 3em;
	margin-bottom: 0.3em;
}
#contact .email:hover {
	background-color: #9c33ff;
}
#contact .email .email-icon {
	vertical-align: middle;
}
@media (max-width: 700px) {
	#contact .email {
		font-size: 2em;
		padding: 5px 15px 8px 14px;
	}
}
@media (max-width: 500px) {
	#contact .email {
		font-size: 1.5em;
		padding: 5px 15px 5px 10px;
	}
}
#contact .social-media {
	font-size: 2.4em;
}
#contact .social-media svg {
	color: #7333f9;
	transition: 0.1s color ease-out;
	margin-right: 0.2em;
}
#contact .social-media svg:hover {
	color: #ff33f9;
}

