#experiences {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 0 2em;
	padding-top: 2em;
	padding-bottom: 2em;
}
#experiences .experience-list .experience-item {
	display: flex;
	flex-direction: row;
}
#experiences .experience-list .experience-item .logo {
	width: 4em;
	height: 4em;
	border-radius: 2em;
	background-color: #7333f9;
	background-size: contain;
	background-position: center center;
	position: relative;
}
#experiences .experience-list .experience-item .logo::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 2em;
	transition: 0.3s background-color ease-in-out;
}
#experiences .experience-list .experience-item:hover .logo::after {
	background-color: transparent;
}
#experiences .experience-list .experience-item .detail {
	padding-left: 1em;
}
#experiences .experience-list .experience-item .detail .position {
	font-size: 1.1em;
	line-height: 1.4;
}
#experiences .experience-list .experience-item .detail .year {
	color: #cbcbcb;
	line-height: 1.1;
}
#experiences .experience-list .experience-item .detail .website {
	color: #7333f9;
	transition: 0.1s color ease-out;
}
#experiences .experience-list .experience-item .detail .website:hover {
	color: #ff33f9;
}

