#navigation {
	background-color: #131313;
	border-bottom: 1px solid #222;
	position: fixed;
	width: 100%;
	z-index: 9999;
	top: 0;
	transition: 0.1s top ease-in;
}
#navigation.hidden {
	top: -5em;
}
#navigation #bar {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 0 2em;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#navigation #bar .icon {
	display: block;
	background-color: #7333f9;
	transition: 0.1s background-color ease-out;
	background-color: #7333f9;
	color: #fefefe;
	padding: 2px 5px;
	border-radius: 3px;
}
#navigation #bar .icon:hover {
	background-color: #9c33ff;
}
@media (max-width: 500px) {
	#navigation #bar {
		flex-direction: row-reverse;
	}
}
#navigation #bar .menu > .menu-list {
	display: flex;
	flex-direction: row;
}
#navigation #bar .menu > .menu-list li {
	list-style-type: none;
	margin-right: 1em;
}
#navigation #bar .menu > .menu-list li:last-child {
	margin-right: 0;
}
#navigation #bar .menu > .menu-list li:hover {
	color: #9565fa;
}
#navigation #bar .menu > .menu-list li a {
	color: inherit;
}
#navigation #bar .menu > .toggler {
	display: none;
	color: #b796fc;
}
@media (max-width: 500px) {
	#navigation #bar .menu .menu {
		position: relative;
	}
	#navigation #bar .menu .menu-list {
		max-width: 1000px;
		width: 100%;
		margin: 0 auto;
		padding: 0 2em;
		padding-top: 2em;
		padding-bottom: 2em;
		border-top: 1px solid #222;
		border-bottom: 1px solid #222;
		position: absolute;
		top: 100%;
		left: 0;
		background-color: #131313;
		width: 100%;
	}
	#navigation #bar .menu .menu-list li {
		border-bottom: 1px solid #222;
		padding: 0.5em 0;
	}
	#navigation #bar .menu .menu-list li:last-child {
		border-bottom: 0;
	}
	#navigation #bar .menu .toggler {
		position: absolute;
		height: 100%;
		left: 2em;
	}
	#navigation #bar .menu > .menu-list {
		display: block;
		visibility: hidden;
		opacity: 0;
		transition: 0.2s opacity ease-in, 0.3s visibility ease-in;
	}
	#navigation #bar .menu > .menu-list.open {
		visibility: visible;
		opacity: 1;
	}
	#navigation #bar .menu > .toggler {
		display: block;
	}
}

