#projects {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 0 2em;
	padding-top: 2em;
	padding-bottom: 2em;
}
#projects .project-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}
@media (max-width: 700px) {
	#projects .project-list {
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}
}
@media (max-width: 500px) {
	#projects .project-list {
		grid-template-columns: 1fr;
		gap: 10px;
	}
}
#projects .project-list .project-item {
	border-radius: 5px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #7333f9;
	cursor: pointer;
}
#projects .project-list .project-item .content {
	border-radius: 5px;
	background-color: rgba(115, 51, 249, 0.8);
	/* background-image: linear-gradient(25deg, rgba(115, 51, 249, 0.9), rgba(156, 51, 255, 0.1)); */
	height: 300px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	overflow: hidden;
	transition: 0.4s ease-out background-color;
}
#projects .project-list .project-item .content:hover {
	background-color: #5307f2;
}
#projects .project-list .project-item .content:hover .links .link svg {
	display: block;
	color: #e5e5e5;
	background-color: #131313;
}
#projects .project-list .project-item .content:hover .information {
	top: 0;
}
#projects .project-list .project-item .content:hover .information .stack {
	color: #fefefe;
	top: 0;
}
#projects .project-list .project-item .content .links {
	display: flex;
	flex-direction: row;
	justify-content: end;
}
#projects .project-list .project-item .content .links .link svg {
	display: none;
	padding: 5px;
	background-color: transparent;
	border-radius: 30px;
	margin-left: 5px;
}
#projects .project-list .project-item .content .spacer {
	flex-grow: 1;
}
#projects .project-list .project-item .content .information {
	color: #fefefe;
	position: relative;
	top: 1.7em;
	transition: 0.09s top ease-in;
}
#projects .project-list .project-item .content .information .description {
	font-size: 1em;
	line-height: 1.3;
	color: #e5e5e5;
	margin-bottom: 0.5em;
}
#projects .project-list .project-item .content .information .stack {
	position: relative;
	color: transparent;
	top: 1em;
	transition: 0.09s color ease-in, 0.09s top ease-in;
}

