body {
    font-family: 'Open Sans';
}

#tags>span {
    border-radius: 3rem !important;
}

section>.name {
    font-weight: 800;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

#img-face {
    min-height: 20rem;
}

.project {
    margin-bottom: 30px;
}