body {
    font-family: 'Open Sans';
}

a {
    color: inherit !important;
}
a:hover {
    text-decoration: none !important;
}

#tags>span {
    border-radius: 3rem !important;
}

section>.name {
    font-weight: 800;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

#img-face {
    min-height: 20rem;
}

.project {
    margin-bottom: 30px;
}

#tags>.item:hover {
    cursor: pointer;
}
#tags>.item.active {
    color: rgb(116, 38, 206) !important;
    border-color:rgb(116, 38, 206) !important;
}

.text-primary {
    color: rgb(116, 38, 206) !important;
}

/* sm */
@media (max-width: 767.98px) {
    .border-right {
        border-right-width: 0px !important;
    }
}
